  <label for={{field.name}}>{{field.caption}}{{#if field.isRequired}}<span class="caption">*</span>{{/if}}</label>
  {{input 
  type=field.type 
  class="form-control" 
  id=field.name 
  placeholder=field.placeholder 
  value=dataValue 
  disabled=isDisabled
  maxlength=field.maxLength
  viewName=field.name
  }}