<div class="container">
<br> 
<div class="list-group">
	<div class="list-group-item">{{#link-to "registration"}}User Registration{{/link-to}}</div>
	<div class="list-group-item">{{#link-to "profile"}}User Profile{{/link-to}}</div>
</div>
{{outlet}} 
</div> 