<h3>Create User</h3>
<div class="panel panel-default">
	<div class="panel-body">
		{{edit-form formData=model fields=fields commitAction="registerAction" rollbackAction="cancelAction"}}
	</div>
</div>